.mySwiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mySwiper
.swiper-button-next {
  content: "";
  height: 8px;
  width: 8px;
  color: red !important;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;

  cursor: pointer;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img {
  filter:brightness(0.35);
  z-index: -1;
}


